<%= image_tag('mc.webp', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<h1>Division 1</h1>
<h2>Open Ended Assignment <br>-by: Ronny.c</h2>
<h3>What is Minicrewan?</h3>
<p>Minicrewan is a code that was invented by me. But I like to say that it is a language because I built it so you can pronounce it without problems! At first, it was kind of hard to translate things because you had to look it up letter by letter in a dictionary that I made. But then, when my dad introduced me to programming, I made a program that could translate it. But at first, it could only translate one line of words. So I made a new version that could translate whole paragraphs.</p>
<h3>What Does This App Do?</h3>
<p>this app lets you write messages in plain language and saves it to a database. But if you click the "show" button, it will also show you the minicrewan version of it!</p>

<h3>Hope you enjoy it! <%= link_to 'click here to try it out!', controller:'messages' %></h3>